{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>{% block title %} Здания {% endblock %}</h1>
<h3><a href={{url_for('new_building')}}> Добавить здание</a></h3>
<table>
    <thead>
    <tr>
        <th>{{ header[0] }}</th>
        <th>{{ header[1] }}</th>
        <th>{{ header[2] }}</th>
    </tr>
    </thead>
    <tbody>
    {% for building in elements %}
    <tr>
        <td>{{ building[0] }}</td>
        <td>{{ building[1] }}</td>
        <td>
            <form action="{{ url_for('deletebuilding') }}" method="POST">
                <input id="building_id" name="building_id" type="hidden" value="{{ building[0] }}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}